{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block body %}
<style>
  @media screen and (prefers-color-scheme: dark) {
    :root {
      background-color:black;
      color:gainsboro; 
    }
   }
</style>
{% include "security/_messages.html" %}
<h1>Password</h1>
<form class="basic-form" style="border:none" action="{{ url_for('security.change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password) }}
  {{ render_field_with_errors(change_password_form.new_password) }}
  {{ render_field_with_errors(change_password_form.new_password_confirm) }}
  {{ render_field(change_password_form.submit) }}
</form>
{% endblock %}
