<form id="orderForm">
    <h3>Buy Credits</h3>
    <label for="quantity">Quantity</label>
    <input id="quantity" name="quantity" type="number" onchange="updatePrice()" /><br />
    <span>
        <p>Price:</p>
        <p id="priceTag">$0.00</p>
    </span>
    <button med type="button" id="orderBtn">Order</button>
</form>

<script>
    var orderQty = document.getElementById("quantity");
    var priceTag = document.getElementById("priceTag");

    function updatePrice() {
        priceTag.innerText = "$" + parseFloat(orderQty.value).toFixed(2);
    }
</script>