<figure aria-hidden="true">
	{% if videos %}
	{{ video }}
	<video controls id="downtown-los-angeles">
		<source src="downtown-los-angeles.mp4">
		<source src="downtown-los-angeles.webm">
		<track kind="chapters" label="Locations" src="downtown-los-angeles-locations.vtt" srclang="en" default
			onload="displayChapters(this)">
	</video>
	<video loop autoplay>
		<source src="{{ url_for('static', filename='video/loading.webm') }}" type="video/webm">
		<source src="{{ url_for('static', filename='video/loading.mp4') }}" type="video/mp4">
		<source src="{{ url_for('static', filename='video/loading.mov') }}" type="video/mov">
		<p>Your browser does not support the video tag</p>
		Free Stock Footage by <a rel="nofollow" href="http://www.videezy.com">Videezy!</a> 
	</video>
	{% else %}
	<iframe title="Presentation Generator" style="width: 100%; height:100%;" id="iframe" src="{{ url_for('static', filename='preview_template.html') }}">
	</iframe>
	{% endif %}
</figure>