<aside class="col">
    <div>
        <h1>Want To Get Started?</h1>
        <p>Sign up today to get started making your own presentations, and you will get 15 credits <b>free</b>!</p>
        {% set x = url_for('security.register') %}<br />
        <button onclick="window.location.href='{{x}}';" big>Sign Up</button>
    </div>
    <div>
        <h1>Navigate</h1>
        <div style="all: revert">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</aside>