<header role="banner">
<nav class="main-nav">
        <a class="brandlink" href="/" style="display:inline-block"><b>Presently</b></a>
        <span class="collapsable">
            {% if current_user.is_authenticated %}<a href="/logout">Logout</a>
            <a id="myBtn">
            Profile
            </a>
            <a href="/editor/new">New</a>
            {% else %}
            <a href="/about">About</a>
            <a href="/features">Features</a>
            <a href="/pricing">Pricing</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}</span>
    </nav>
    </header>
