<figure>
	{% if videos %}
	{{ video }}
	<video controls id="downtown-los-angeles">
		<source src="downtown-los-angeles.mp4">
		<source src="downtown-los-angeles.webm">
		<track kind="chapters" label="Locations" src="downtown-los-angeles-locations.vtt" srclang="en" default
			onload="displayChapters(this)">
	</video>
	{% else %}
	<video controls id="downtown-los-angeles">
		<track kind="chapters" label="Locations" srclang="en" default onload="displayChapters(this)">
		<progress value="32" max="100"></progress>
	</video>
	{% endif %}
</figure>