<form id="presentationForm">
    <div class="row">
        <div class="col">
            <label for="text">Text</label>
            <textarea name="text" id="text" cols="35" rows="20" oninput="textUpdate()"></textarea>
        </div>
    </div>
    <div class="row">
        <button class="button col">Submit</button>
        <button class="button col" type="button" onclick="clearChanges()">Clear Changes</button>
    </div>
</form>
<script>
    var defaultText = "{{ text }}";
    var clearChangeText = defaultText;
    var textArea = document.getElementById('text');
    var form = document.getElementById('presentationForm');
    textArea.value = defaultText;
    function textUpdate() {
        defaultText = textArea.value;
        console.log(defaultText);
    }

    function clearChanges() {
        console.log("CLEAR");
        textArea.value = clearChangeText;
    }

    function submitForm(event) {
        console.log("UPDATING FORM");
        var url = "/editor/{{ fname }}"
        console.log(url);
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () {
            console.log(request.responseText);
        }

        request.onerror = function () {
            console.log("ERROR");
        }

        request.send(new FormData(event.target));
        event.preventDefault();
    }

    form.addEventListener("submit", submitForm);
</script>