:root {
    --primary: black;
    --secondary: white;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}


@media (min-width: 450px) {
    
}


.main-nav {
    position: sticky;
    top: 0;
    min-height: 40px;
    border-radius: 0.5rem;
    background-color: var(--primary);
    align-items: center;
    vertical-align: middle;
    border: 2.5px solid var(--secondary);
    margin: 1rem;
}

.main-nav a {
    min-width: 30px;
    min-height: 40px;
    font-size: large;
    vertical-align: middle;
    margin: .25rem;
    text-decoration: none;
    color: var(--secondary);
}

.brandlink {
    min-width: 30px;
    min-height: 40px;
    margin: 1rem;
    margin-right: 2.5rem;
}

.brandlink b {
    height: 100%;
    vertical-align: middle;
    font-size: xx-large;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.main-content {
    background-color: var(--primary);
    color: var(--secondary);
    margin:0;
}


.main-content article {
    border-radius: 2rem;
    background-color: inherit;
    width: auto;
    margin:inherit;
    overflow-y: scroll;
    text-align: center; 
    display: flex;/* Use when read to split screen */
}
.main-content aside {
    max-height: 100%;
    width:20%; /* Use when ready to split */
    text-align: center;
    border-radius: 1rem;
    border: 2.5px solid var(--secondary);
    margin: 2rem;
}
.main-content article .inner-article {
    max-width: 60%;
    padding: 1%;
    border-radius: 2rem;
    border: 2.5px solid var(--secondary);
    margin: 2rem;
    grid-row: auto;
}




.main-content article figure {
    text-align: center;
    border-radius: 1rem;
    min-width: 75%;
    border: 2.5px solid var(--secondary);
}

.main-content article figure img {
    max-width:100%;
    max-height:100%;
    border-radius: 1rem;
}

.main-content > div {
    background-color: inherit;
    max-height: 100%;
    width: auto;
    overflow-y: scroll;
    text-align: center;
    border-radius: 1rem;
    border: 2.5px solid var(--secondary);
    margin:2rem;
}


footer {
    margin-top: 1rem;
    border-radius: 2rem;
    display: flex;
    border: 2.5px solid var(--secondary);
    color: var(--secondary);
    margin:1rem;
}

.footer-item {
    margin: 1rem;
    flex-basis: 100%;
    align-self: flex-end;
    text-align: center;
}

.footer-item b[top] {
    vertical-align: top;
}


a {
    vertical-align: middle;
    text-decoration: none;
    color: var(--secondary);
}


a:hover {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}

a:focus {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}

a:active {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: lawngreen;
    color:var(--primary);
}


button:hover {
    color: var(--primary);
    background-color: var(--secondary);
}


button:focus {
    color: var(--primary);
    background-color: var(--secondary);
}


button[select] {
    color: var(--primary);
    background-color: var(--secondary);
}

button[big] {
    min-width: 50%;
    font-size: xx-large;
}

button[med] {
    min-width: 25%;
    font-size: x-large;
}


button {
    min-width: 5%;
    font-size: large;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 1rem;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid var(--secondary);
    margin: 1rem;
}

.svg-icon {
    height: 50px;
    width: auto;
}

h1 {
    text-align: center;
}