:root {
    --primary: gainsboro;
    --secondary: black;
    --border-radius: 1rem;
    --border-thickness: 0.125rem;
    --default-border: var(--border-thickness) solid var(--secondary);
    --screen-width: 100vw;
    --body-width: calc(100vw - 40px);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --primary:black;
        --secondary:white;
    }
}


@media screen and (prefers-color-scheme: light) {
    :root {
        --primary:gainsboro;
        --secondary:black;
    }
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

/* Size independent stuff */
.main-nav {
    position: sticky;
    top: 0;
    min-height: 40px;
    background-color: var(--primary);
    align-items: center;
    vertical-align: middle;
    border-radius: var(--border-radius);
    border: var(--default-border);
    margin: 0;
    display: flex;
    flex-direction: row;
}

.main-nav a {
    min-width: 30px;
    min-height: 40px;
    font-size: large;
    vertical-align: middle;
    margin: .25rem;
    text-decoration: none;
    color: var(--secondary);
}

.brandlink {
    display: flex;
    align-self: flex-start;
    min-width: 30px;
    min-height: 40px;
    margin: 1rem;
    margin-right: 2.5rem;
}

.brandlink b {
    height: 100%;
    vertical-align: middle;
    font-size: xx-large;
    border-radius: 0.5rem;
}

.collapse-btn {
    display: none;
}

.divider {
    display: flex;
    flex: 1;
}


.main-content {
    margin: 0;
    min-height: 70vh;
}

.main-content aside {
    max-height: 100%;
    width: auto;
    display: inline-block;
    text-align: center;
    margin:1rem;
}

.main-content article {
    overflow-y: scroll;
    text-align: center;
    width: inherit;
    margin: auto;
}

.main-content article>div {
    margin: auto;
}

footer {
    margin-top: 1rem;
    width: var(--body-width);
    border-radius: var(--border-radius);
    border: var(--default-border);
    display: flex;
}

.footer-item {
    margin: 0;
    flex-basis: 100%;
    align-self: center;
    text-align: center;
    vertical-align: middle;
}


.main-text li {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.main-text[data-bg="black"] {
    background-color: black;
}

.presentation-form {
    min-height: 80vh;
    max-height: 100vh;
    overflow: hidden;
    text-align: left;
    border-radius: var(--border-radius);
    border: var(--default-border);
}

.presentation-frame {
    min-width: 130px;
    min-height: 80vh;
    max-height: 100vh;
}

/* Set up stripe pricing table */
.PricingTable {
    border-radius: var(--border-radius);
    border: var(--default-border);
}

@media screen and (max-width:767px) {


    .brandlink b {
        vertical-align: top;
    }

    .nav-item,
    .main-nav {
        flex-direction: row;
    }

    .nav-item {
        display: none;
    }

    .collapse-btn {
        display: initial;
        align-self: flex-end;
        width: 40px;
        max-width: 40px;
        cursor: pointer;
    }

    .nav-items {
        background-color: rgba(0, 0, 0, 0.315);
        transform: translateZ(10px);
    }

    .nav-item-toggle {
        display: flex;
        width: 100%;
        position: relative;
    }

    .main-text,
    .main-content article p,
    .main-content article figure {
        width: inherit;
        height: auto;
    }

    .main-content article figure img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .main-content article figure iframe,
    .main-content article figure video {
        width: 100%;
        margin:auto;
        height: auto;
        border-radius: var(--border-radius);
        border: var(--default-border);
    }
}

@media screen and (max-width:575px) {
    .main-text,
    .main-content article>p,
    .main-content article figure {
        width: inherit;
    }

    .main-content article figure img {
        width: 100%;
        height: auto;
    }

    .main-content article figure iframe,
    .main-content article figure video {
        min-width: 100%;
        min-height: 100%;
        border-radius: var(--border-radius);
    }
}


/* show sxs screens */
@media screen and (min-width:768px) {

    .main-content article {
        display: flex;
    }

    .main-text {
        width: 60%;
        height:max-content;
        border-radius: var(--border-radius);
        border: var(--default-border);
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 2.5rem;
        padding-top: 5rem;
        font-size: large;
    }

    .main-content article > p {
        max-width: 60%;
        border-radius: var(--border-radius);
        border: var(--default-border);
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 2.5rem;
        padding-top: 5rem;
        font-size: x-large;
        text-align: center;
        vertical-align: middle;
    }

    .main-content article figure {
        margin:auto;
        min-width: 60%;
        border-radius: var(--border-radius);
        border: var(--default-border);
    }

    .main-content article figure img {
        width: auto;
        height: auto;
    }

    .main-content aside {
        min-width: 20%;
        max-width: 30%;
        width: auto;
        border-radius: var(--border-radius);
        border: var(--default-border);
    }

    .main-content article figure iframe,
    .main-content article figure video {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        border: var(--default-border);
        margin: 0;
    }
}

/* Buttons & Links */

a {
    vertical-align: middle;
    text-decoration: none;
    color: var(--secondary);
    width: max-content;
}


a:hover {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    width: max-content;
}

a:focus {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}

a:active {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: lawngreen;
    color: var(--primary);
}


button:hover {
    color: var(--primary);
    background-color: var(--secondary);
}


button:focus {
    color: var(--primary);
    background-color: var(--secondary);
}


button[select] {
    color: var(--primary);
    background-color: var(--secondary);
}

button[data-size="big"] {
    min-width: 50%;
    font-size: xx-large;
}

button[data-size="med"] {
    min-width: 25%;
    font-size: x-large;
}


button {
    min-width: 5%;
    font-size: large;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--secondary);
    margin: 1rem;
}

/* Grid */

.grid {
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 400px) {
    .grid {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 400px;
    }
}

@media screen and (min-width: 576px) {
    .grid {
        max-width: 540px;
    }
}

@media screen and (min-width:600px) {
    .grid {
        max-width: 558px;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .grid {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .grid {
        max-width: 1140px;
    }
}

.grid-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* Extra */
.svg-icon {
    height: 50px;
    width: auto;
}

h1,h2{
    text-align: center;
    font-size: xx-large;
}

/* Form CSS */

.basic-form {
/*    background: rgba(78, 74, 74, 0.829);
  */  overflow: hidden;
    text-align: left;

    border-radius: var(--border-radius);
    border: var(--default-border);
}


input {
    background-color: var(--primary);
    color: var(--secondary);
    outline: 1px;
    outline-style:inset;
    outline-color: var(--secondary);
    border-radius: var(--border-radius);
}
 
input:hover,
input:focus {
    outline-style:groove;
    outline-color: var(--secondary);
    outline-width: 2.5px;
    border: var(--default-border);
}

input:not([type="checkbox"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"] {
    min-width: 100px;
    font-size: large;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--secondary);
    margin: 1rem;
}

@media screen and (max-width:375px) {
    label:not([for="remember"]) {
        display: block;
    }
}

@media screen and (min-width:376px) {

    @media (max-width:500px) {
        form>p {
            width: 100%;
            display: flex;
            align-content: space-between;
        }

        label {
            margin-left: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            text-align: center;
            margin-right: 5px;
            max-width: max-content;
            margin-left: auto;
        }

        input[type="checkbox"] {
            margin-left: 1rem;
        }

        input[type="submit"] {
            margin: auto;
        }
    }

    @media (min-width:501px) {
        .basic-form{
            width: fit-content;
            padding: 3rem;
            height: fit-content;
            margin: auto;
        }

        label:not([for="remember"]) {
            display: block;
        }
    }

}

ul {
    margin: auto;
    text-align: center;
}

li {
    margin-left: 40%;
    max-width: 20%;
    text-align: left;
}

/* Make embedding easier */

.embedded {
    width: 100%;
    min-height: 500px;;
    height:max-content;
    border-radius: var(--border-radius);
    border: var(--default-border);
    font-size: large;
}
.card {
    position: relative;
    display: block;
    /* Add shadows to create the "card" effect */
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary);
    min-height: 400px;
    overflow: hidden;
  }

  .card-header {
      text-align: center;
      vertical-align: top;
  }

  .card-list {
      margin: auto;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      border-radius: var(--border-radius);
      border: 1px solid var(--secondary);
  }

  .card-list .item,
  .card-list .item-sliding,
  .card-list .item-option{
      max-height: 45px;
  }

.item {
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    font-size: large;
    text-align: left;
    display: inline;
    float: left;
}

.item-sliding {
    display:block;
    position:relative;
    width:100%;
    overflow: hidden;
    user-select:all;
    cursor: move;
    border-bottom: 1px solid var(--secondary);
}

.item-sliding .item {
    user-select: none;
}

.item-sliding:hover .item-option,
.item-sliding:active .item-option {
    background: var(--primary);
    visibility: visible;
    animation-name: grow;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}
.item-sliding:hover,
.item-sliding:active {
    background: var(--secondary);
}

.item-option {
    width:100%;
    visibility: hidden;
    position: absolute;
    margin-top: -2.5%;
    align-content: flex-start;
    text-align: left;
}

@keyframes grow {
   from {
       transform: translateX(150%);
    }
    to {
        transform: translateX(calc(150%  - max-content));
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
/*    right: 0;
/*    bottom: 0;
*/    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content/Box */
.modal-content {
    background-color: #2e2626bb;
    margin: 15% auto;
    /* 15% from the top and centered */
    border: 1px solid rgba(136, 136, 136, 0);
    width: 42.5%;
    height: auto;
    overflow: hidden;
    /* Could be more or less, depending on screen size */
}

.modal-content iframe {
    max-width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

 /* Style the tab */
 .tab {
    overflow: auto;
    display: flex;
    width: auto;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width:100%;
    margin:1%;
    padding:15px;
    padding-block-end: 15px;
  }
  

  /* Change background color of buttons on hover */
  .tab button:hover,
  .tab button.active {
    background: var(--secondary);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
    width: inherit;
    left: 0;
    margin: 0;
    padding: 0;
    text-align:left;
  } 