<div class="card">
    <div class="card-header"><h1>Messages </a></h1></div>
    <div class="card-list">
        {% if messages %}
            {% for message in messages %}
            <div class="item-sliding">
                <div class="item">{{ message.user.email }}</div>
                <div class="item-option">
                    <button onclick="location.href='/admin/subscription/edit/{{ subscription.id }}'">Edit</button>
                    <button onclick="location.href='/admin/subscription/delete/{{ subscription.id }}'">Delete</button>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>No Messages.</p>
        {% endif %}
    </div>
</div>