<div class="card">
    <div class="card-header"><h1>Subscriptions</a></h1></div>
    <div class="card-list">
        {% for user in users %}
            {% if user.subscription[0] %}
            <div class="item-sliding">
                <div class="item">{{ user.email }}</div>
                <div class="item-option">
                    <button onclick="location.href='https://dashboard.stripe.com/test/subscriptions/{{ user.subscription[0].stripeSubscriptionId }}'">Edit</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>