{% extends 'base.html' %}
{% block title %}Features{% endblock title %}
{% block meta %}
    <!-- Tell robots we love them -->
    <meta name=”robots” content=”index, follow”>{% endblock meta %}
{% block body %}
        <h1 style="text-align: center;">Presently</h1>
        <article>
            <div class="main-text">
                <div class="row">
                    <div class="col">
                        <li>Automated Voiceover</li>
                    </div>
                    <div class="col">
                        <li>Automatic Slide Generation</li>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <li>.mp4 & .pptx Outputs</li>
                    </div>
                    <div class="col">
                        <li>Automated Image Generation</li>
                    </div>
                </div>
            </div>
            {% include 'partials/call_to_action.html' %}
        </article>
    {% endblock body %}