
.main-content section {
    margin: 2rem;
    border-radius: 2rem;
    background-color: inherit;
    border: 1px solid var(--secondary);
    text-align: center;
    overflow-y: hidden;
}

.main-content section figure {
    min-width: 48%;
    max-width: 95%;
    width: auto;
    float: left;
    background: var(--primary);
    border-radius: 2rem;
    border: 1px solid var(--secondary);
    margin: 1rem;
}

.main-content section figure form {
    height:100%;
    min-width: 60%;
    max-width: 95%;
    border: 1px solid var(--secondary);
    border-radius: 2rem;
    display: block;
}


.main-content section figure video {
    width: 100%;
    height: auto;
    background: var(--primary);
    border-radius: inherit;
    display: inline-block;
}

.main-content .vidform-container {
    min-width: 40%;
    max-width: 100%;
    float: left;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;

}

.main-content .vidform-container div:first-of-type {
    width: 20%;
    float: left;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    justify-content: center;
}

.main-content .vidform-container div:first-of-type button {
display: block;
background: inherit;
color: var(--secondary);
border: 1px solid var(--secondary);
border-radius: 1rem;
text-align: center;
width: 80%;
margin: 1rem;
font-size: larger;
}

.main-content .vidform-container div:first-of-type button[select] {
    color: var(--primary);
    background-color: var(--secondary);
}

.main-content .vidform-container .content {
    background-color: var(--primary);
    color: var(--secondary);
    width: 74%;
    max-width: 74%;
    min-height: 400px;
    height: 100%;
    float: left;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
}

.main-content .vidform-container .content .presentation_form label{
    display: block;
    text-align: left;
    border-top: 1px solid var(--secondary);
    padding-left: 1rem;
}

.main-content .vidform-container .content .presentation_form :nth-child(2) {
    min-width: 90%;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 1rem;
    border-color: var(--primary);
}

input[type="text"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid #eee; /* Here */
}

textarea {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid #eee; /* Here */
}