{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block meta %}
<!-- Tell robots we love them -->
<meta name=”robots” content=”index,follow”>{% endblock meta %}
{% block body %}
<h1>About</h1>
<article>
    <div class="main-text">
        <p>Presently was created as part of Noah Wood's coursework
        at <a href="https://www.baker.edu">Baker College</a>.
        Presently uses the latest in artifical intelligence
        technologies such as DALL-E to quickly and easily create
        narrated presentations from text files, markdown, and html!
    </p>
    </div>
    {% include 'partials/call_to_action.html' %}
</article>
{% endblock body %}