{% extends 'base.html' %}
{% block meta %}
<!-- Tell robots we love them -->
<meta name=”robots” content=”index,follow”>{% endblock meta %}
{% block title %}Home{% endblock title %}
{% block body %}
<h2>Administration</h2>
<div class="row">
    <div class="col">
        {% include 'admin/users.html' %}
    </div>
    <div class="col">
        {% include 'admin/subscription_list_card.html' %}
    </div>
    <div class="col">
        {% include 'admin/messages.html' %}
    </div>
</div>
{% endblock body %}
