{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>
    .CodeMirror {
        height: 300px;
    }
</style>
{% endblock css %}
{% block title %}{{ current.title }}{% endblock %}
{% block body %}
<article>
    {% include 'partials/presentation_view.html' %}
    {% include 'partials/presentation_form.html' %}
</article>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var defaultText = "{{ text }}";
    var textArea = document.getElementById('text');
    var form = document.getElementById('presentationForm');
    textArea.value = defaultText;
    var simplemde = new SimpleMDE({ element: document.getElementById("text"), forceSync: true});
    /* Get iframe & pass text to it */
    function setUpFrame() {
        var frame = window.frames['iframe'].contentWindow;
        frame.SetText(textArea.value);
        console.log("SET UP FRAME");
    }

    function rebuild() {
        ReloadIframe();
    }

    function clearChanges() {
        console.log("CLEAR");
        textArea.value = defaultText;
        simplemde.value(defaultText);
    }

    function submitForm(event) {
        var url = "/editor/{{ fname }}"
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () {
            console.log(request.responseText);
        }

        request.onerror = function () {
            console.log("ERROR");
        }

        request.send(new FormData(event.target));
        event.preventDefault();
        // Make sure we reset default text after saving
        defaultText = textArea.value;
        // Reload presentation iframe
        ReloadIframe();
    }

    function ReloadIframe() {
        document.getElementById('iframe').src = document.getElementById('iframe').src;
    }

    form.addEventListener("submit", submitForm);
</script>
{% endblock %}