{% extends 'base.html' %}
{% block title %}New{% endblock title %}
{% block meta %}
<!-- Tell robots we hate them -->
<meta name=”robots” content=”index,nofollow”>
{% endblock meta %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>
    .CodeMirror {
        height: 300px;
    }
</style>
{% endblock css %}
{% block body %}
<h1>New Presentation</h1>
<article>
    <form method="POST" class="basic-form">
        <fieldset style="float:left; text-align:left; width: 40%; border:0;">
            <h3>Settings</h3>
            <label for="title">Project Title:</label>
            <input type="text" id="title" name="title" value="New Presentation" />
            <br />
            <label for="languages">Voices</label>
            <select class="list-dt" id="languages" name="languages" onchange="UpdateAudioTest()">
                <option value="en-US-Neural2-A" selected="selected">English (US)</option>
                <option value="en-GB-Neural2-A">English (UK)</option>
                <option value="en-AU-Neural2-A">English (Australia)</option>
                <option value="es-US-Neural2-A">Spanish (US)</option>
            </select>
            <a class="label" onclick="PlayTestAudio()">Test</a>
            <audio id="testAudio" preload="none">
                <source id="testSource" type="audio/wav" src="/static/audio/en-US-Neural2-A.wav">
                Your browser does not support the audio element.
            </audio>
            <br />
            <label for="translate">Auto-translate?</label>
            <input id="translate" name="translate" type="checkbox" checked><br />
            <label for="gen-image">Generate Images</label>
            <input id="gen-image" name="gen-image" type="checkbox" checked>

        </fieldset>
        <fieldset style="border:0;">
            <textarea id="text" name="text" spellcheck="true">
# Welcome To Presently!
---
## How To Use?
Getting started is easy! Just start typing what you'd like to show in your presentation!
---
##  Making New Slides
To start a new slide, just type: `---` 
---
## Headings
You can add headings  by using the # symbol!
# One #
## Two #
### Three #
#### Four #
##### Five #
###### Six #
---
## Lists
Want to make a list? It's easy as can be!

* Unordered Item

1. Ordered Item

You can nest items too!

* Something
	* Something Else
		1. numbers too!?
			* Wow!
---
## Narration
Note: You can add narration to slides!
---
## Quotes
> Need to quote someone?
> > These can be nested too!
---
## Images
You can also add images to your slide!

![randumb  image](https://picsum.photos/400)
---
## Need To Add A Table?

You better believe we support that!
| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| John     | Doe      | Male     |
| Mary     | Smith    | Female   |

---
## Style Your Text

You can also **style** your *text* to make it more pleasant to read.
---
## Code
Code highlighting? Definitely!
```js [1-2|3|4]
    let a = 1;
    let b = 2;
    let c = x => 1 + 2 + x;
    c(3);
```
---
## Themes
Try different themes to see what you enjoy!
        </textarea>
        </fieldset>
        <fieldset style="width:100%; border:0; text-align: center;">
            <button data-size="big">Create</button>
        </fieldset>
    </form>
</article>
{% endblock body %}

{% block javascript %}

<script>
    var wiz3Lang = document.getElementById("languages");
    var wiz3Audio = document.getElementById("testAudio");
    var wiz3AudioSrc = document.getElementById("testSource");
    var wiz3US = "{{url_for('static', filename='audio/en-US-Neural2-A.wav') }}"
    var wiz3UK = "{{url_for('static', filename='audio/en-GB-Neural2-A.wav') }}"
    var wiz3AU = "{{url_for('static', filename='audio/en-AU-Neural2-A.wav') }}"
    var wiz3Es = "{{url_for('static', filename='audio/es-US-Neural2-A.wav') }}"
    var newAudioSrc = wiz3US;
    function UpdateAudioTest() {
        if (wiz3Lang.value.includes('es')) {
            newAudioSrc = wiz3Es;
        }
        else if (wiz3Lang.value.includes('US')) {
            newAudioSrc = wiz3US;
        }
        else if (wiz3Lang.value.includes('GB')) {
            newAudioSrc = wiz3UK;
        }
        else if (wiz3Lang.value.includes('AU')) {
            newAudioSrc = wiz3AU;
        }
        wiz3AudioSrc.setAttribute("src", newAudioSrc);
        wiz3Audio.load();
    }
    UpdateAudioTest();

    function PlayTestAudio() {
        wiz3Audio.play();
    }
</script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("text") });
</script>
{% endblock javascript %}