{% extends 'base.html' %}
{% block title %}New{% endblock title %}

{% block body %}
<div>
    <h1>New Presentation</h1>
    <form method="POST" href="/editor/new">
        <fieldset style="float:left; text-align:left; width: 40%; border:0;">
            <h3>Settings</h3>
            <label for="title">Project Title:</label>
            <input type="text" id="title" name="title" />
            <br />
            <label for="languages">Voices</label>
            <select class="list-dt" id="languages" name="languages" onchange="UpdateAudioTest()">
                <option value="en-US-Neural2-A" selected="selected">English (US)</option>
                <option value="en-GB-Neural2-A">English (UK)</option>
                <option value="en-AU-Neural2-A">English (Australia)</option>
                <option value="es-US-Neural2-A">Spanish (US)</option>
            </select>
            <a class="label" for="testAudio" onclick="PlayTestAudio()">Test</a>
            <audio id="testAudio" preload="none">
                <source id="testSource" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <br />
            <label for="translate">Auto-translate?</label>
            <input id="translate" name="translate" type="checkbox" checked><br />
            <label for="gen-image">Generate Images</label>
            <input id="gen-image" name="gen-image" type="checkbox" checked>

        </fieldset>
        <fieldset style="border:0;">
        <textarea id="text" name="text" cols="40" rows="10" spellcheck="true" style="border-radius:.5rem;"></textarea>
        </fieldset>
        <fieldset style="width:100%; border:0;">
        <button>Submit</button>
    </fieldset>
    </form>
</div>
{% endblock body %}

{% block javascript %}

<script>
    var wiz3Lang = document.getElementById("languages");
var wiz3Audio = document.getElementById("testAudio");
var wiz3AudioSrc = document.getElementById("testSource");
var wiz3US = "{{url_for('static', filename='audio/en-US-Neural2-A.wav') }}"
var wiz3UK = "{{url_for('static', filename='audio/en-GB-Neural2-A.wav') }}"
var wiz3AU = "{{url_for('static', filename='audio/en-AU-Neural2-A.wav') }}"
var wiz3Es = "{{url_for('static', filename='audio/es-US-Neural2-A.wav') }}"
var newAudioSrc = wiz3US;
function UpdateAudioTest()
{
    if (wiz3Lang.value.includes('es')) {
        newAudioSrc = wiz3Es;
    }   
    else if (wiz3Lang.value.includes('US')) {
        newAudioSrc = wiz3US;
    }
    else if (wiz3Lang.value.includes('GB')) {
        newAudioSrc = wiz3UK;
    }
    else if (wiz3Lang.value.includes('AU')) {
        newAudioSrc = wiz3AU;
    }
    wiz3AudioSrc.setAttribute("src", newAudioSrc);
    wiz3Audio.load();
}
UpdateAudioTest();

function PlayTestAudio()
{
    wiz3Audio.play();
}
</script>
{% endblock javascript %}