{% extends 'base.html' %}
{% block title %}Pricing{% endblock title %}
{% block meta %}
<!-- Tell robots we love them -->
<meta name=”robots” content=”index,follow”>
{% endblock meta %}
{% block body %}
<h1 style="text-align: center;">Pricing</h1>
<article>
    <div class="main-text">
        <script async src="https://js.stripe.com/v3/pricing-table.js">
        </script>
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1LSZGGFQdRpLHHqXhvzgJxAH"
            publishable-key="pk_test_51L9NbTFQdRpLHHqXSXcpoizaiS63FY2KWQ6yvSl5xN2nfqxksjNFyvxQEybGhgqXYIXvISjWrGzYtFxlIRWpOWz900JaQYnIWM">
        </stripe-pricing-table>
    </div>
    {% include 'partials/call_to_action.html' %}
</article>
{% endblock body %}