:root {
    --primary: black;
    --secondary: white;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

.main-nav {
    position: sticky;
    top: 0;
    min-height: 40px;
    border-radius: 0.5rem;
    background-color: var(--primary);
    align-items: center;
    vertical-align: middle;
    border: 2.5px solid var(--secondary);
    margin: 1rem;
}

.main-nav a {
    min-width: 30px;
    min-height: 40px;
    font-size: large;
    vertical-align: middle;
    margin: .25rem;
    text-decoration: none;
    color: var(--secondary);
}

.brandlink {
    min-width: 30px;
    min-height: 40px;
    margin: 1rem;
    margin-right: 2.5rem;
}

.brandlink b {
    height: 100%;
    vertical-align: middle;
    font-size: xx-large;
    text-decoration: none;
    border: 2.5px solid var(--secondary);
    border-radius: 0.5rem;
    padding: 0.1rem;
}

section {
    padding: 0.5em;
    width: 80%;
    margin-left: 10%;
    border-radius: 2rem;
    border: 2.5px solid var(--secondary);
}

section>h3 {
    margin: 0 auto;
    text-align: center;
}

details {
    border: 1px solid #aaa;
    border-radius: inherit;
    padding: .5em .5em 0;
}

summary {
    font-weight: bolder;
    margin: -.5em -.5em 0;
    padding: .5em;
    border-radius: inherit;
    background-color: rgb(50, 146, 50);
    text-align: center;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

h1,
h2 {
    border-radius: 2rem;
    border: 2.5px solid var(--secondary);
    text-align: center;
}


a {
    vertical-align: middle;
    text-decoration: none;
    color: var(--secondary);
}


a:hover,
a:focus,
a[active] {
    border-radius: .25em;
    border-color: var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}


button:hover,
button:focus,
button[select] {
    color: var(--primary);
    background-color: var(--secondary);
}

button[big] {
    min-width: 50%;
    font-size: xx-large;
}

button[med] {
    min-width: 25%;
    font-size: x-large;
}

button {
    min-width: 5%;
    font-size: large;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--secondary);
    margin: 1rem;
}

img {
    max-width: 80%;
    border-radius: 2rem;
    opacity: 0.75;
    border: 1px solid var(--secondary);
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

img:hover {
    opacity: 1;
}

section>ul,
section>p {
    width: 80%;
    margin-left: 10%;
}

code {
    width: 40%;
    margin-left: 30%;
    display: block;
    font-style: bold;
    background-color: grey;
}

p {
    max-width: 90%;
    margin-left: 5%;
}

.side {
    max-width: 25%;
    margin-left: 10%;
    margin-right: 10%;
}

.side2 {
    width: 50%;
    border: 2px solid var(--secondary);
    display: inline;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.column {
    flex:content;
}

.c2 {
    border-radius: 1rem;
    border: 1px solid var(--secondary);
    padding: 2%;
}